body{
    background-image: url(img/background.jpg);
}
header{
    height: 200px;
    display: flex;
    list-style-type: none;
}
ul{
    list-style-type: none;
   
}

input#input{
    position: absolute;
    right: 50px;
    top:20px;
    background-color:transparent;
}
li a{
    text-decoration: none;
    color: black;
    
}
li{
    position: absolute;
}

.menu-login{
    float: right;
    top:20px;
    color: black;
}
.menu-login li:first-child{
    right: 365px;
    top:20px;
}
.menu-login li:nth-child(2)
{
    right: 300px;
    top:20px;
}
.menu-login li:nth-child(3){
    right: 230px;
    top:20px;
}
.topMenu li:first-child{
    left:320px;
    top:20px;
}
.topMenu li:nth-child(2){
    left:400px;
    top:20px;
}
.topMenu li:nth-child(3){
    left:450px;
    top:20px;
}
.topMenu li:nth-child(4){
    left:535px;
    top:20px;
}
.topMenu li:nth-child(5){
    left:645px;
    top:20px;
}
.topMenu li:nth-child(6){
    left:750px;
    top:20px;
}
.topMenu li:nth-child(7){
    left:800px;
    top:20px;
}
.topMenu li:nth-child(8){
    left:860px;
    top:20px;
}
* {
    padding: 0px;
    /* margin: 0px auto; */
}
footer{
    background-color:white;
    height: 300px;
    display: flex;
    color: black;
}
.content{
    height: 1000px;
}
.buttom-Menu1{
    font-family: sans-serif;
    font-size: 13px;
    width: 40%;
}
.buttom-Menu2{
    font-family: sans-serif;
    font-size: 13px;
    width: 30%;
}
ul.buttom-Menu2 > li:before{
   content: "- ";
    
}